{
  "presets": [
    "babel-preset-expo"
  ],
  "plugins": [
    "add-module-exports",
    "transform-export-default"
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
